* {
    margin: 0;
    padding: 20;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: #111827;
    color: #fff;
  }
  
  .message p.error {
     color: red;
  }

/*-------------------------
      header section
-------------------------*/



.container {
    padding: 10px 10%;
    justify-content: center;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffa742;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.7s;

}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 15%;
    font-size: 10px;
}

.header-text h1 {
    font-size: 50px;
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.header-text h1 span {
    color: #ffa742;
    text-align: center;
}

/*-------------------------
      about section
-------------------------*/
#about {
    padding: 20px 0;
    color: #ffffff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.col-1 {
    flex-basis: 35%;
}

.col-1 img {
    width: 100%;
    border-radius: 15px;
}

.col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #42baff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ffa742;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/*-------------------------
     work section
-------------------------*/


#services {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.7s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff7e05);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.7s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #42baff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #42baff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.7s;
}

.btn:hover {
    background: #42baff;
}

.hedar-footer {

    margin-top: 500px;
    border-top-width: 500px;
    padding-top: 500px;

  }
  