{% load static %}
{% comment %} 

1) Image Downloader app can add
2) <img src="http://drive.google.com/uc?export=view&id=YOUR_FILE_ID">

{% endcomment %}
<!DOCTYPE html>
<html lang="en">
   <head>
      
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>WebTool</title>
      <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.16/dist/tailwind.min.css">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      
      <style>
         .message p.error {
             color: red;
         }
     </style>

     
   </head>
   <body>
      {% comment %} header section {% endcomment %}
      <header class="text-gray-400 bg-gray-900 body-font fixed w-full z-50 top-0">
         <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
               <span class="ml-3 text-xl">
            <a href="/">
            <svg width="150" height="40" viewBox="0 0 200 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="0" width="200" height="50" rx="5" fill="#111827"/>
            <text x="25" y="32" font-family="Helvetica Neue" font-size="30" fill="white">WebTool</text>
            <circle cx="165" cy="25" r="12" fill="#F2F2F2"/>
            <path d="M 158 25 L 172 25" stroke="#111827" stroke-width="2"/>
            <path d="M 165 18 L 165 32" stroke="#111827" stroke-width="2"/>
            <path d="M 161.5 21.5 L 168.5 28.5" stroke="#111827" stroke-width="2"/>
            <path d="M 168.5 21.5 L 161.5 28.5" stroke="#111827" stroke-width="2"/>
            </svg></a>
            </span>
            </a>
            <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
               <a href="{% url 'the_main_home' %}" class="mr-5 hover:text-white">Home</a>
               <a href="#about" class="mr-5 hover:text-white">Details</a>
               <a href="#services" class="mr-5 hover:text-white">Tools</a>
               <a href="#tell" class="mr-5 hover:text-white">Tell Me</a>
               <a href="{% url 'its_ashiq' %}" class="mr-5 hover:text-white">Developer</a>
            </nav>
            <hr>
         </div>
      </header>
      {% comment %} header section {% endcomment %}
      <div class="header-text">
         <h1 text-align: center;>
         Hi <span>Welcome To My Useful Tool's Site.</span>
      </div>
      <div id="services">
         <div class="container">
            <h1 class="sub-title">All Useful Tools</h1>
            <div class="work-list">
               <div class="work">
                  <img src="{% static 'image/piano.jpg' %}"  alt="">
                  <div class="layer">
                     <h3>A Mini Virtual Piano</h3>
                     <p>The piano can be play at online in both PC and Smart Phone. It's not a complex piano, so its its easy to play.</p>
                     <a href="{% url 'pianoo' %}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
               </div>
               <div class="work">
                  <img src="{% static 'image/linkshort.jpg' %}"  alt="">
                  <div class="layer">
                     <h3>Free Link Shortener</h3>
                     <p>You can short your large valid link with this site. And It's absulutely FREE! and The site Used Cut.ly's API. So it's Interestig.</p>
                     <a href="{% url 'linkshorting' %}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
               </div>
               <div class="work">
                  <img src="{% static 'image/calculator.jpeg' %}"  alt="">
                  <div class="layer">
                     <h3>Advanced Calculator To Solve Your Math.</h3>
                     <p>The web app basically build to do simple calculation and I will try to make this site add some more advanced functionality with future UPDATE as a result I belive you can Get Math Solutions also.</p>
                     <a href="{% url 'calculate' %}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
               </div>
               <div class="work">
                  <img src="{% static 'image/bmi.jpg' %} " alt="">
                  <div class="layer">
                     <h3>Basic BMI Test</h3>
                     <p>Nothing Extra Ordinary. Check Your BMI and Know Your Current Helth Conditions.</p>
                     <a href="{% url 'bmii' %}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
               </div>
               <div class="work">
                  <img src="{% static 'image/upnext.jpg' %}" alt="">
                  <div class="layer">
                     <h3>LOADING</h3>
                     <p>New Project Will Add Here. Still Thinking.</p>
                     <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
               </div>
               <div class="work">
                  <img src="{% static 'image/upnext.jpg' %}" alt="">
                  <div class="layer">
                     <h3>LOADING</h3>
                     <p>If New Project Added It Will Appear Here.</p>
                     <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
      <div id="about">
         <div class="container">
            <div class="row">
               <div class="col-1">
                  <img src="{% static 'image/about.jpg' %}" alt="">
               </div>
               <div class="col-2">
                  <h1 class="sub-title">About The <span>Site</span> </h1>
                  <p>This site mainly build for gather saveral mini projeects of mine. And the site focused to help user by provide some useful basic tools, that we need once or any time in Internet browsing life. </p>
            
                  <p style = "color : #7c22a0 " >You can send me personal messages. And the function is<b style = "color : green;" > ACTIVE ✔</b> </p>
               </div>
            </div>
         </div>
      </div>
      <section id = "tell" class="text-gray-400 bg-gray-900 body-font relative">
         <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
               <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Wanna Suggest ?</h1>
               <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Send any of your message to me such as Suggestions or any advice or any more usefull tool if could add that would be more helpful... anything , I will see it . If it's indeed to reach you I will.</p>
            </div>
            <form action="" method="POST" >
               {% csrf_token %}
               <div class="lg:w-1/2 md:w-2/3 mx-auto">
                  <div class="flex flex-wrap -m-2">
                     <div class="p-2 w-1/2">
                        <div class="relative">
                           <label for="name" class="leading-7 text-sm text-gray-400">Name</label>
                           <input type="text" id="name" name="name" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        </div>
                     </div>
                     <div class="p-2 w-1/2">
                        <div class="relative">
                           <label for="email" class="leading-7 text-sm text-gray-400" >Email</label>
                           <input type="email" id="email" name="email" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        </div>
                     </div>
                     <div class="p-2 w-full">
                        <div class="relative">
                           <label for="message" class="leading-7 text-sm text-gray-400">Message</label>
                           <textarea id="message" name="message" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                        </div>
                     </div>
                     <div class="p-2 w-full">
                        <button type="submit" name = "button"  class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">SEND</button>
                     </div>
                   
                     {% if messages %}
                        {% for message in messages %}
                        
                              <div class="message {% if message.tags == 'error' %}text-red-500{% elif message.tags == 'success' %}text-yellow-500{% endif %}">
                                 <p class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                              </div>


                        {% endfor %}
                     {% endif %}
                   

                     <div class="p-2 w-full pt-8 mt-8 border-t border-gray-800 text-center">
                        <p class="leading-normal my-5">
                           <br>{{the_year}}
                        </p>
                     </div>
                  </div>
               </div>
            </form>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
               setTimeout(function() {
                   $('.message').fadeOut('slow');
               }, 5000);
            </script>
         </div>
      </section>



      <footer class="text-gray-400 bg-gray-900 body-font">
         
         <div class="bg-gray-800 bg-opacity-75">
            <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
               <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
               <span class="ml-3 text-xl">EMHASH</span>
               </a>
               <p class="text-sm text-gray-400 sm:ml-6 sm:mt-0 mt-4">
                  <a href="https://twitter.com/emhash__" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">@E.H.Ashiq</a>
               </p>
               <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                  {% comment %} Facebook {% endcomment %}
                  <a href = "https://www.facebook.com/E.H.Ashiq/" class="text-gray-400">
                     <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                     </svg>
                  </a>
                  {% comment %} twitter {% endcomment %}
                  <a href="https://twitter.com/emhash__" class="ml-3 text-gray-400">
                     <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                     </svg>
                  </a>
                  {% comment %} LinkedIn {% endcomment %}
                  <a href="https://www.linkedin.com/in/emhash/" class="ml-3 text-gray-400">
                     <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                     </svg>
                  </a>
               </span>
            </div>
         </div>
      </footer>

   

      <script src="https://kit.fontawesome.com/fa9f3d7c05.js" crossorigin = "anonymous">  </script>
   </body>
</html>